<mat-card>
  <mat-card-content>

    <mat-card-title>
      Recetas
      <div class="button-row" style="float: right">
        <button mat-raised-button color="primary" (click)="newReceta()">+ NUEVO</button>
      </div>
    </mat-card-title>

    <br>
    <mat-form-field appearance="standard">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup.enter)="applyFilter($event.target.value)" placeholder="receta" #input>
    </mat-form-field>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort *ngIf="!isLoading">

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Nombre:</span>
          {{element.nombre}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="valoracion">
        <mat-header-cell *matHeaderCellDef> Puntaje </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field floatLabel="never" style="width: 140px;">
            <input matInput placeholder="Valoración" [value]="element.valoracion" [(ngModel)]="element.valoracion">
          </mat-form-field>
        </mat-cell>
      </ng-container>      

      <!-- Operation Column -->
      <ng-container matColumnDef="operations">
        <mat-header-cell *matHeaderCellDef> Operaciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="goToReceta(element.id)">
            <mat-icon>description</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editValoracionnewReceta(element.id, element.valoracion)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="newReceta()">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
      <mat-spinner></mat-spinner>
    </div>

  </mat-card-content>
</mat-card>